{{!-- Setup the main.handlebars file so it's able to be used by Handlebars --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Materilize CDN link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Public stylesheet -->
    <link rel="stylesheet" href="/css/styles.css" />

    {{!-- Font stylesheets --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

    <title>The Purr-fect Match</title>


</head>

<body>

    {{{body}}}

    <script src="/js"></script>
    <script src="/js/catMatch.js"></script>
</body>

</html>